<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
          <ion-img src="/assets/ppoblacion.jpg"></ion-img>
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>

          <audio src="/assets/audios/poblacion.mp4" controls style="width: 100%"></audio>
         
        <p style="text-align: justify;
        text-justify: inter-word;">
          De acuerdo con el conteo de población y vivienda 2010, realizado por el Instituto Nacional de Estadística y Geografía (INEGI), San Francisco Tepeolulco cuenta con una población total de <b>7874</b> habitantes de los cuales <b>3883</b> son hombres y <b>3991</b> son  mujeres, las viviendas particulares habitados son <b>1699</b>  de sus cuatro principales barrios. 
          
          
          <br><br>

          San Francisco Tepeolulco está dividido en tres sectores o zonas importantes para el levantamiento de población y vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI), la distribución de la población quedaría de la siguiente manera:
          <br><br>
          San Francisco Tepeolulco Centro tiene una población de 6954 habitantes de los cuales <b>3454</b> son hombres y <b>3500</b> son mujeres.        
          <br><br>
          San Francisco Tepeolulco Tercer Barrio la Mesa tiene una población de <b>669</b> habitantes de los cuales <b>301</b> son hombres y <b>368</b> son mujeres.     
          <br><br>
          San Francisco Tepeolulco Tercer Barrio la Mesa Ejido tiene una población de <b>251</b> habitantes de los cuales <b>128</b> son hombres y <b>123</b> son mujeres.  
          <br><br>
          De acuerdo con el censo INEGI 2010 la población indígena es de <b>7014</b> personas que equivale a un 89.07% de los habitantes de San Francisco Tepeolulco.   
        </p>
        <br>
        
        <video controls="controls" preload="metadata" style="width: 100%"  webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="/assets/poblacion.mp4" type="video/mp4"/></video>
        


        <ion-card-title>Componente Humano</ion-card-title>
        <br>
        <p style="text-align: justify;
        text-justify: inter-word;">
        Uno de los principales capitales con los que cuenta la localidad de San Francisco Tepeolulco es el humano, población solidaria y participativa que es producto del mestizaje, los mazahuas en la actualidad conservan el uso de su dialecto así como sus usos y costumbres.
        <br><br>
        Al paso de los años se ha dado un proceso de transculturización debido a la migración de sus pobladores a diferentes ciudades del centro y norte de la república mexicana como Ciudad de México, Toluca, Ciudad Juárez, Chihuahua, Monterrey, Tijuana, Reynosa y principalmente al extranjero como los Estados Unidos de América y Canadá.
        
      </p>
      <br>
      <ion-card-title>División de la comunidad</ion-card-title>
        <br>
        <p style="text-align: justify;
        text-justify: inter-word;">
        San Francisco Tepeolulco está formado por cuatro barrios, los cuales se dividen de la siguiente manera:
        <br><br>
        Primer Barrio Centro, Primer Barrio Colonia Lázaro Cárdenas, Segundo Barrio Centro, Segundo Barrio Sector Agucaliente, San Francisco Tepeolulco Tercer Barrio la Mesa, San Francisco Tepeolulco Tercer Barrio la Mesa Ejido, Cuarto Barrio Centro, Cuarto Barrio Presa del Coyote y Cuarto Barrio Ejido.
        
      </p>
      </ion-card-content>
    </ion-card>
</ion-content>
