<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      
        <ion-img src="/assets/pflora.jpg"></ion-img>
      <ion-card-header>
      
      </ion-card-header>
      <ion-card-content>

         
          <audio src="/assets/audios/flora.mp4" controls style="width: 100%"></audio>
        <p style="text-align: justify;
        text-justify: inter-word;">
          
          Las especies más comunes de árboles que crecen en la región son: pino, ocote, encino, eucalipto y cedro. En cuanto a árboles frutales encontramos la pera, ciruelo, durazno, capulín, tejocote, zapote e higo. Con respecto a hierbas medicinales debemos mencionar la manzanilla, la ruda, ajenjo, epazote de perro, árnica, hierbabuena, te de monte. Entre las flores de ornato se encuentran los siguientes, alcatraz, malvón, gladiolas y las flores silvestres en color blanco, violeta, amarillo y rojo.
        

        </p>
        <video controls="controls" preload="metadata" style="width: 100%"  webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="/assets/flora.mp4" type="video/mp4"/></video>
        
      </ion-card-content>
    </ion-card>
</ion-content>
