<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/pfestividades.jpg"></ion-img>

      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <br>
        <audio src="/assets/audios/tradiciones.mp4" controls style="width: 100%"></audio>

        <p style="text-align: justify;
        text-justify: inter-word;">
          San Francisco Tepeolulco cuenta con una variedad de festividades en sus diferentes barrios como por ejemplo:
          <br><br>
        </p>
        <ul style="text-align: justify;
        text-justify: inter-word;">
          <li><b>Fiesta Patronal en honor a San Francisco de Asís</b>, festividad más importante para la comunidad los días <b>03 y 04 de Octubre</b>.</li>
          <li>Es importante mencionar que los días <b>26 y 27 de Septiembre</b> en la iglesia que data del siglo XVII ubicado en el <b>Calvario de San Francisco Tepeolulco</b>, también se lleva a cabo la <b>Fiesta Patronal en Honor a San Francisco de Asís</b>, siendo la primera iglesia que se construye en San Francisco Tepeolulco.</li>
          <li>Los días <b>05 y 06 de Octubre</b>  en San Francisco Tepeolulco Tercer Barrio la Mesa, también se lleva a cabo la misma festividad en Honor a <b>San Francisco de Asís</b>, en la iglesia construido en su honor en la década de los 90´s.</li>
          <li><b>Víspera y Fiestas en Honor a los Apóstoles San Pedro y San Pablo</b> en la parroquia de San Francisco de Asís los días <b>28 y 29 de Junio</b>.</li>
          <li><b>Peregrinación de Caballería</b> de San Francisco Tepeolulco a Temascalcingo en el Estado de México el <b>02 de Enero</b>, siendo también una de las tradiciones más importantes de la comunidad de aproximadamente <p>94 años</p> de llevarse a cabo desde <b>1925</b>, donde se observa la participación de aproximadamente 2800 personas que van a pie y a caballo al encuentro con el Santo Patrono de la comunidad, después de haber estado presente el Fiesta Patronal en Honor al Señor de la Coronación en Temascalcingo.</li>
        </ul>

        <video controls="controls" preload="metadata" style="width: 100%"  webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="/assets/festividades.mp4" type="video/mp4"/></video>
        

        <br>
        <ion-card-title>Atractivos Naturales</ion-card-title>
        <br>
        <p style="text-align: justify;
        text-justify: inter-word;">
          Un recorrido por el Cerro conocido como el Calvario de San Francisco Tepeolulco, donde se puede admirar un gran paisaje rodeado de cerros y el extenso llano de la localidad, así como admirar la iglesia construido en honor a San Francisco de Asís que data del siglo XVII.
        </p>
        <br>
        <ion-card-title>Grupo de Danzas y Pastoras</ion-card-title>
        <br>
        <p style="text-align: justify;
        text-justify: inter-word;">
            San Francisco Tepeolulco se caracteriza por formar parte de una cultura muy importante para Temascalcingo que son los mazahuas. Conforme pasan los años esta comunidad nos sigue sorprendiendo con la gran riqueza cultural con la que cuenta, desde sus tradiciones, costumbres, artesanías mazahuas, vestimenta mazahua, etcétera.
            <br><br>
            En la actualidad San Francisco Tepeolulco cuenta con 5 grupos de danzas o pastoras, integrado aproximadamente de entre 12 a 20 mujeres mazahuas, 4 grupos se encuentran en San Francisco Tepeolulco Centro y un grupo se encuentra en San Francisco Tepeolulco Tercer Barrio la Mesa.
            <br><br>
            Los grupos de danzas o pastoras resaltan por sus cantos religiosos, sus danzas, su vestimenta mazahua que está conformado de la siguiente manera:
            <br><br>
        </p>
        <ul style="text-align: justify;
        text-justify: inter-word;">
            <li> <b>Quexquemetl</b>, vestimenta que resalta por sus bordados de flores, animales y colores llamativos, elaborados con gran dedicación por manos mazahuas.</li>
            <li><b>Sombreros</b>, resalta por sus adornados con moños, lluvias de colores metálicos llamativos.</li>
            <li><b>Bastón</b>,resalta por sus adornos con lluvias de colores metálicos llamativos y cascabeles.</li>
            <li><b>Babero, Mandil y Nagua</b>, todo elaborado por manos mazahuas.</li>
        </ul>
        <br>
      </ion-card-content>
      
    </ion-card>
</ion-content>
