<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/partesanias.jpg"></ion-img>
      
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
          <audio src="/assets/audios/artesanias.mp4" controls style="width: 100%"></audio>

          <p style="text-align: justify;
          text-justify: inter-word;">
            San Francisco Tepeolulco destaca por sus textiles mazahuas, que son bordados artesanales de colores llamativos elaborados a mano por mujeres mazahuas que resaltan la calidad, dedicación e identidad de su cultura, como por ejemplo:  
        </p>
        <ul style="text-align: justify;
        text-justify: inter-word;">
            <li> Elaboración de bordados como <b>servilletas, manteles, quexquemetl, fajas y morrales</b>.</li>
             <ion-img src="/assets/ques2.jpg"></ion-img>

            <li> Elaboración de <b>violines y caballos de yeso.</b></li>
            <li> Elaboración de <b>hamacas, cunas, sillas para bebes</b>, todo tejido a mano.</li>
            <ion-img src="/assets/hamacas3.jpg"></ion-img>

            <li>Elaboración de <b>cinturones</b>.</li>
          </ul>
        <br>
      </ion-card-content>
    </ion-card>
</ion-content>
