<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/pclima.jpg"></ion-img>
      
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
          <audio src="/assets/audios/clima.mp4" controls style="width: 100%"></audio>

        <p style="text-align: justify;
        text-justify: inter-word;">
          El clima de acuerdo con la estación meteorológica local es <b>“Templado subhúmedo”</b> con invierno seco y lluvias monzónicos en verano, con poca oscilación.
        
          

        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
