<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
     
      <ion-img src="/assets/phistoricos.jpg"></ion-img>
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
          <audio src="/assets/audios/hechoshistoricos.mp4" controls style="width: 100%"></audio>

        <p style="text-align: justify;
        text-justify: inter-word;">
          Los más antiguos pobladores que fundaron Temascalcingo fueron Mazahuas, de acuerdo con la doctrina y enseñanza en la lengua Mazahua, de <b>Nájera Yanguas</b> y sus fundadores lo llamaron <b>Ñiñi Mbate</b>, que significa “Lugar del Pequeño Llano” también lo llamaron Rambemzo que significa “Lugar del Primer Hombre”.
          <br><br>
          La palabra <b>Mazahua</b>  es de origen náhuatl, fue dado por los toltecas y significa “Dueño de Venados”, los mazahuas lo hacen llamar <b>jñatjo</b>, lo cual significa “Los que Hablamos o Existimos”, nombre más antiguo de esta etnia. El pueblo Mazahua abarcó desde épocas antiguas gran parte del actual Estado de México.
          <br><br>
          El poblado de San Francisco Tepeolulco fue fundado durante la Colonia Española y   se extendió sobre 708 hectáreas.
          <br><br>
          De acuerdo con información que comparten algunos de sus habitantes, los primeros pobladores se asentaron en la zona conocida como el Calvario de San Francisco Tepeolulco en donde se encuentra en la actualidad la pequeña iglesia construido en honor a San Francisco de Asís que data del siglo XVII y al paso de los años empiezan a poblar lo que se conocía como el valle de San Francisco Tepeolulco, que en la actualidad es donde se encuentran establecidos los cuatro principales barrios de San Francisco Tepeolulco.
          <br><br>
          Las primeras construcciones fueron de adobe. El adobe es una mezcla de barro y paja molido para obtener unos bloques macizos y así poder construir este tipo de casas que se caracteriza por tener techos de tejas.
          <br>
          <ion-img src="/assets/hh1.jpg"></ion-img>
          <br>
          Sus Iglesias construidos en honor a San Francisco de Asís ubicado en el Calvario de San Francisco Tepeolulco que data del siglo XVII y Cuarto Barrio Centro se encuentran entre los más antiguos que existen en el municipio de Temascalcingo, esta segunda iglesia tiene una construcción de estilo tequitqui, de origen prehispánico, su construcción inicio en 1613 y termino en 1777.
          <br><br>
          En el año de 1925 da inicio a una de las tradiciones más importantes de San Francisco Tepeolulco que es la “Peregrinación de Caballería”, que fue una iniciativa de los Sres. José Flores del Cuarto Barrio Centro y Pedro Romero del Primer Barrio, ambos originarios de la misma comunidad.
          <br>
          <ion-img src="/assets/f1.jpg"></ion-img>
          <br>
          En el año de 1994 se retoma la construcción de la nueva iglesia en honor a San Francisco de Asís, por parte de un grupo de mujeres de entre 15 a 20 años de edad quienes financiaron una parte de la construcción de lo que es en la actualidad la parroquia de San Francisco de Asís.
          <br><br>
          También en la década de los 90´s inicia la construcción de la iglesia en honor a San Francisco de Asís en San Francisco Tepeolulco Tercer Barrio la Mesa.
          <br><br>
          El 02 de Julio de 1998 habitantes de la comunidad  de San Francisco Tepeolulco toman la presidencia municipal de Temascalcingo para exigir a las autoridades del H. Ayuntamiento resolvieran el problema de agua potable que afectarafectaba a la población.
          <br><br>
          En el año 2004 habitantes de la comunidad de San Francisco Tepeolulco liderado por los delegados de los diferentes barrios: Mtro. Macario Flores Cárdenas, C. Vicente Víctor García Romero, C. Emiliano Romero Tapia, C. Santos Segundo, C. Luis Flores, C. Prisiliano Rojas, cierran el acceso principal que conecta a la cabecera municipal de Temascalcingo, para exigir al H. Ayuntamiento representado por el entonces presidente municipal Víctor Manuel Jiménez Gómez en el trienio 2003/2006, transparencia sobre el recurso dirigido a la pavimentación de la avenida principal Luis Donaldo Colosio en dicha comunidad.
          <br><br>
          El 30 de junio de 2009 se erige como parroquia la iglesia de San Francisco de Asís ubicado en el centro de la comunidad, siendo como primer párroco el padre Ricardo Méndez Garduño.
          <br><br>
          Recientemente en el 2010, antropólogos del Instituto Nacional de Antropología  e Historia (INAH), anuncian el hallazgo de importantes vestigios arqueológicos en la comunidad de San Francisco Tepeolulco, en el Estado de México, los cuales pertenecieron a la cultura <b>Matlatzinca</b>, civilización que dejo huellas culturales y arquitectónicas de más de un siglo de antigüedad.
          <br><br>
          Entre los descubrimientos se encuentra dos grandes montículos, uno de base cuadrangular con dos cuerpos sobrepuestos, los cuales alcanzan una altura de 8 metros; mientras el otro es circular, con una base de 20 metros y una altura de 10 metros, así como una plaza cuadrangular de 500 metros cuadrados, ubicado a un costado de la iglesia que data del siglo XVII en Calvario de San Francisco Tepeolulco.
          <br><br>
          El propósito de dar a conocer este descubrimiento, es que algún día llegase a realizarse un proyecto que permita la restructuración de los monumentos, así como llevar acabó un museo de sitio para que la población lo visite y conozca la cultura matlatzinca.
          <br><br>
          <br><br>
          <br><br>

        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
