<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="/assets/home7.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="/assets/home3.png"></ion-img>
        
        </ion-slide>
  
      </ion-slides>


      <ion-card-header>
        <ion-card-title>San Francisco Tepeolulco <br> Temascalcingo, Estado de México</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <audio src="/assets/audios/home.mp4" controls style="width: 100%"></audio>
        <p style="text-align: justify;
        text-justify: inter-word;">
          San Francisco Tepeolulco es una comunidad Mazahua que pertenece al municipio de Temascalcingo en el Estado de México, se localiza en el extremo noroeste del Estado. En la actualidad, de acuerdo con el instituto Nacional de Estadística y Geografía (INEGI) y la Secretaría de Desarrollo Social (SEDESOL), es considerado como una zona semiurbana.
          <br>  <br>
San Francisco Tepeolulco, proviene de la palabra de origen náhuatl "Tepetl" que significa “Montaña en donde se encuentra el Corazón Sagrado del Maíz” o “Lugar de Cerros en forma de Elote”.

        </p>

        <video controls="controls" preload="metadata" style="width: 100%"  webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="/assets/arquitectura.mp4" type="video/mp4"/></video>
        

      </ion-card-content>
    </ion-card>
</ion-content>
