<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/pubicacion.jpg"></ion-img>
      <ion-card-header>
        
      </ion-card-header>
      <ion-card-content>
          <audio src="/assets/audios/ubicacion.mp4" controls style="width: 100%"></audio>

          <video controls="controls" preload="metadata" style="width: 100%"  webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="/assets/ubicacion.mp4" type="video/mp4"/></video>
        

        <p style="text-align: justify;
        text-justify: inter-word;">
          La comunidad de San Francisco Tepeolulco, se localiza en el extremo noroeste del Estado de México, con exactitud en el municipio de Temascalcingo; colindando con las comunidades de los siguientes municipios: al norte con Santa Ana Yenshu, Los Pastores, San Pedro Potla del municipio de Temascalcingo, al sur con Santiago Casandeje del municipio de Jocotitlan y Cuendo del municipio de Atlacomulco, al este con San Lorenzo Tlacotepec del municipio de Atlacomulco, al oeste con La Jordana, Bassoco, Tapaxco del municipio de El Oro.
          

        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
